
body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    background-color: rgba(180, 217, 253, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-company {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}


.container-tamanho {
    width: 500px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.profile-content {
    display: flex;
    width: 100%;
    gap: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;

}

.profile-content > img {
    height: 50px;
    width: 50px;
}

.profile-information {
    display: flex;
    flex-direction: column;
}

.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-company {
    align-items: center;
    flex-direction: column;
    height: 20px;
    width: 80px;
}

.my-social-medias {
    font-size: 16px;
}

.divider {
    opacity: 0.40;
    width: 460px;
    border-top: 1px solid #bbb;
}

a:link {
    color: black;
}

.container-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo-rodape {
    display: block;
    margin: auto
}

.url {
    text-decoration: none;
}

@media only screen and (max-width: 445px) {

}